<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogAggregator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/HeaderAndFooter.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
          $(document).ready(function () {
          $('.header-right a').click(function (e) {
              debugger;
              //removing the previous selected menu state
              jQuery('.header-right').find('a.active').removeClass('active');
              //adding the state for this parent menu
              jQuery(this).addClass('active');
             
          });
        });
    </script>
</head>
<body>
    <header>
        <div class="header">
            <div class="header-img">
                <img src="~/UKG.png" />
            </div>

            <div class="header-text">
                @*  <a href="#default" class="logo">Log Aggreegator</a>*@
                <span>Log Aggregator</span>
            </div>
            <div class="header-right">
                <a class="active" asp-page="/Index">Home</a>
                <a asp-page="/Privacy">Contact</a>
                <a asp-page="/ViewLogs">About</a>
            </div>
        </div>
        <h1 class="line"></h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*   <footer class="border-top footer text-muted">
        <div class="container">
        &copy; 2022 - LogAggregator - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
        </footer>*@
    <div class="footer">
        <div class="container">
            &copy; 2022 - LogAggregator - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>