body {
}
.divleft {
    padding-top: 50px;
    display: inline;
    float: left;
    width: 100%;
    display: grid;
    color: white;
    grid-template-rows: 30px 30px 30px 1fr;
    grid-template-columns: repeat(3,200px);
    grid-gap: 10px;
}
.inputbox {
    width: 100%;
}

.clsBtn {
    color: white;
    width:80px;
    text-align:center;
    padding-left: 5px;
    background-color: #006666;
    border: none;
}
.clsBtntwo {
    color: white;
    width: 80px;
    text-align: center;
    margin-left:10px;
    background-color: #006666;
    border: none;
}
.div1 {
    padding-left:5px;
    background-color: #006666;
    color: white;
}
.div2 {
    padding-left: 5px;
    background-color: #006666;
    color: white;
}
.div3 {
    padding-left: 5px;
    background-color: #006666;
    color: white;
}
.div4 {
    padding-left: 5px;
    background-color: #006666;
    color: white;
}