@page
@model LogAggregator.Pages.BasicIntelligenceModel
@{
}
<head>
     <link rel="stylesheet" href="~/css/BasicIntelligence.css" asp-append-version="true" />
</head>
<body>
    <div class="div">
    <div class="div1">
        <span>Customer</span>
    </div>
     <div class="div2">
        <span>Services</span>
    </div>
    <div class="div3"></div>
    <div class="div4">
        <iframe src="url" title="description"></iframe>
    </div>
    </div>
</body>
